@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(../fonts/AvalonMedium.ttf); /* Путь к файлу со шрифтом */
}

.itemTool {
    margin-left: -82px;
    margin-top: 2px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #6e9870 !important;
}

h1 {
    font-family: Pompadur !important;
    font-size: 7em !important;
    text-align: center;
    color: #ffffff !important;
}

.loginPanel {
    width: 200px;
    margin: 0 10px;
    float: right;
}

.loginPage {
    width: 1000px;
    height: 800px;
    margin: 10px auto;
    background-image: url('../img/sikonkami.png');
    background-size: cover;
}

.board {
    position: relative;
    background-color: rgb(60, 84, 62) !important;
    border-radius: 20px;
    padding: 15px;
    border: 5px solid #8B4513;
    margin: auto;
    }


.btnLogin {
    float: right;
}

.loginPanel div {
    margin: 5px;
}

.loginPanel {
    color: white;
}

.header {
    margin-top: 0;
}

.header * {
    color: white;
}

.hide {
    display: none;
}

#imgOtchet {
    position: absolute;
    top: 50px;
    right: -120px;

}

#imgRaspisanie {
    position: absolute;
    top: 50px;
    right: 120px;

}

#imgKlass {
    position: absolute;
    top: 50px;
    left:-120px;

}

#imgKlass img, #imgOtchet img, #imgRaspisanie img {
    height: 150px;
    width: 150px;
}

.buttonContainer {
    position: relative;
    height: 250px;
    width: 350px;
    margin: auto;
    text-align: center;
    color: #ffffff;
}

#dnevnik {
    position: absolute;
    top: 50px;
    left: 0;
   }

#dnevnik img, #reting img {
    height: 150px;
    width: 150px;
}

#reting {
    position: absolute;
    top: 50px;
    right: 0;
    }

#logotip {
    position: relative;
    top: 2px;
    right: -100px;
    left: 110px;

}
.profil {
    position: relative;
    text-align: left;
}



.profText {
    padding-left: 130px;
    color: #ffffff;

}

#imgFoto {
    top: 20px;
    height: 120px;
    width: 120px;
    float: left;
    left: 400px;
}

#fio {
    display: inline-block;
}


.dnevnik * {
    text-align: center;
}

.dnevnik {
    float: left;
    background-color: #ffffff;
    width: 45%;
    border: 2px;
}

#succes {
    position: fixed;
    left: 33%;
    right: 33%;
    width: 34%;
    z-index: 1000;
}

#modalWithSchedule .modal-dialog {
    width: 90% !important;
}

#modalWithSchedule .modal-body {
    overflow: auto;
}

#modalWithSchedule td {
    padding: 0;
    text-align: center;
    vertical-align: baseline;
}

.dropdown button {
    width:100%
}

#lessonsList, #teachersList {
    position: fixed;
}

/*
#girl {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    right: 351px;
}

#azbuka {
    position: absolute;
    top: 50px;
    left: 180px;

}

#fotik {
    position: absolute;
    top: 300px;
    left: 80px;
}

#globus {
    position: absolute;
    top: 50px;
    right: 200px;
}

#palitra {
    position: absolute;
    top: 300px;
    right: 100px;
}
*/