<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">


    <h1 class="header">Электронная школа<img id="logotip" src="img/Logotip.png" height="120"/></h1>

<!--    <div class="profil" >
        <div id="imgFoto">
            <img src="img/default.jpg" height="120"/>
        </div>
        <div class="profText" >
            <h3>Иванова Елена Сергеевна</h3>

            <p>Учитель</p>

            <p>преподаваемые предметы:биология</p>
            <h4>1 четверть</h4>
        </div>
    </div>-->

    <div class="container">
        <a id="logout" role="button" class="btn btn-primary" style="float: right">Выход</a>
    </div>
</header>