<header class="container navbar navbar-static-top bs-docs-nav" id="top" role="banner">


    <h1 class="header">Электронная школа<img id="logotip" src="img/Logotip.png" height="120"/></h1>

    <div class="profil">

        <img id="imgFoto" class="hide" src="img/default.jpg" height="120"/>

        <div class="profText">
               <span>

                   <h3 class="hide" id="fio"></h3>
                   <a id="logout" role="button" class="btn btn-primary">Выход</a>

               </span>

            <p class="hide" id="role"></p>

            <p class="hide" id="class"></p>

            <p class="hide" id="predmet"></p>
        </div>

    </div>

    <div class="container">

    </div>

</header>