<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">


    <h1 class="header">Электронная школа<img id="logotip" src="img/Logotip.png" height="120"/></h1>

    <div class="profil">
        <div id="imgFoto" class="hide">
            <img src="img/default.jpg" height="120"/>
        </div>
        <div class="profText">
            <h3 class="hide" id="fio"></h3>
            <p class="hide" id="role"></p>
            <p class="hide" id="class" ></p>
            <p class="hide" id="predmet"></p>
        </div>
    </div>

    <div class="container">
        <a id="logout" role="button" class="btn btn-primary" style="float: right">Выход</a>
    </div>
</header>