<div class="adminPage board">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li id="teacherTab" class="active"><a class="tab" role="tab" data-toggle="tab">Учителя</a></li>
    <li id="learnerTab"><a class="tab" role="tab" data-toggle="tab">Ученики</a></li>
    <li id="classTab"><a class="tab" role="tab" data-toggle="tab">Классы</a></li>
    <li id="lessonsTab"><a class="tab" role="tab" data-toggle="tab">Предметы</a></li>
    <li id="scheduleTab"><a class="tab" role="tab" data-toggle="tab">Рассписание</a></li>
</ul>
<div class="buttons">
    <button id="createBtn" class="btn btn-success">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
        Создать
    </button>
</div>
<div  id="error" class="alert alert-danger hide"  role="alert"></div>
<div class="tab-content">
<div id="teacherTabContent" class="tab-pane active">
    <table id="createTableTeacher" class="createTable table table-bordered table-striped table-striped hide"
           style="background-color: #ffffff">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>e-mail</th>
            <th>Логин</th>
            <th>Пароль</th>
        </tr>
        </thead>
        <tr>
            <td><input id="firstNameTeacher" type="text" class="form-control"/></td>
            <td><input id="lastNameTeacher" type="text" class="form-control"/></td>
            <td><input id="patronymicTeacher" type="text" class="form-control"/></td>
            <td><input id="emailTeacher" type="text" class="form-control"/></td>
            <td><input id="loginTeacher" type="text" class="form-control"/></td>
            <td><input id="passTeacher" type="password" class="form-control"/></td>
            <td>
                <button id="pushToServerTeacher" type="role" class=" btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </table>
    <table id="teacherTable" class="table table-bordered table-striped table-striped" style="background-color: #ffffff">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="learnerTabContent" class="tab-pane">
    <table id="createTableLearner" class="createTable table table-bordered table-striped table-striped"
           style="background-color: #ffffff">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Класс</th>
            <th>Родители</th>
            <th>Адрес</th>
            <th>Логин</th>
            <th>Пароль</th>
        </tr>
        </thead>
        <tr>
            <td><input id="lastNameLearner" type="text" class="form-control"/></td>
            <td><input id="firstNameLearner" type="text" class="form-control"/></td>
            <td><input id="patronymicLearner" type="text" class="form-control"/></td>
            <td><input id="classLearner" type="text" class="form-control"/></td>
            <td><input id="parentLearner" type="text" class="form-control"/></td>
            <td><input id="adressLearner" type="text" class="form-control"/></td>
            <td><input id="loginLearner" type="text" class="form-control"/></td>
            <td><input id="passLearner" type="password" class="form-control"/></td>
            <td>
                <button id="pushToServerLearner" type="role" class=" btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </table>
    <table id="learnerTable"   class="table table-bordered table-striped table-striped" style="background-color: #ffffff">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Класс</th>
            <th>Адрес</th>
            <th>Родители</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div id="classesTabContent" class="tab-pane">
    <table class="table table-bordered table-striped table-striped" style="background-color: #ffffff">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Классный руководитель</th>
        </tr>
        </thead>
        <tr>
            <td>10 а</td>
            <td>Петрова М.И.</td>
        </tr>
        <tr>
            <td>5 б</td>
            <td>Петрова М.И.</td>
        </tr>
        <tr>
            <td>7 в</td>
            <td>Петрова М.И.</td>
        </tr>
        <tr>
            <td><input type="text" class="tableText form-control " value="7 б"/></td>
            <td><input type="text" class="tableText form-control" value="Баранова И.И"/></td>
            <td>
            </td>
        </tr>
    </table>
</div>
<div id="lessonsTabContent" class="tab-pane">
    <table class="table table-bordered table-striped table-striped" style="background-color: #ffffff">
        <thead>
        <tr>
            <th>Название</th>
            <th>Учитель</th>
        </tr>
        </thead>
        <tr>
            <td>Русский язык</td>
            <td>Иванова н.И.</td>
        </tr>
        <tr>
            <td>Математика</td>
            <td>Иванова н.И.</td>
        </tr>
        <tr>
            <td>Литература</td>
            <td>Иванова н.И.</td>
        </tr>
        <tr>
            <td>География</td>
            <td>Иванова н.И.</td>
        </tr>
        <tr>
            <td><input type="text" class="tableText form-control " value="Физика"/></td>
            <td><input type="text" class="tableText form-control" value="Петрова Н.И"/></td>
            <td>
            </td>
        </tr>
    </table>
</div>
<div id="scheduleTabContent" class="tab-pane">
    <table class="table table-bordered table-striped table-striped" style="background-color: #ffffff">
        <thead>
        <tr>
            <th>День недели</th>
            <th>Начало урока</th>
            <th>Конец урока</th>
            <th>Предмет</th>
            <th>Класс</th>
            <th>Учитель</th>
        </tr>
        </thead>
        <tr>
            <td>Понедельник</td>
            <td>8.30</td>
            <td>9.15</td>
            <td>Русский язык</td>
            <td>8 а</td>
            <td>Иванова н.И.</td>
        </tr>
        <tr>
            <td>Вторник</td>
            <td>8.30</td>
            <td>9.15</td>
            <td>Математика</td>
            <td>10 а</td>
            <td>Петрова</td>
        </tr>
        <tr>
            <td>Среда</td>
            <td>8.30</td>
            <td>9.15</td>
            <td>Литература</td>
            <td>6 в</td>
            <td>Николаева</td>
        <tr>
            <td><input type="text" class="tableText form-control " value="Пятница"/></td>
            <td><input type="text" class="tableText form-control" value="10:00"/></td>
            <td><input type="text" class="tableText form-control" value="10:45"/></td>
            <td><input type="text" class="tableText form-control" value="Физика"/></td>
            <td><input type="text" class="tableText form-control" value="10 а"/></td>
            <td><input type="text" class="tableText form-control" value="Петрова"/></td>
            <td>
            </td>
        </tr>
    </table>
</div>
</div>
</div>