<div class="Dnevnik"></div>
<div class="board">
        
        <div class="tab-pane">
			<table table style="float:left; background-color: #ffffff; width:45%; margin-right:50px;border:2px solid green;" rules="all"
				>
                  <col width="50" align="center">
   <col width="150" valign="top">
                  <col width="300">
   <col width="50" align="center">
                <col width="50" align="center">
                  <tr >
                    
                    <th colspan="100%" align="center">Понедельник</th>
                       
                    
                    </tr>
                <tr align="center">
					<th >№</th>
					<th>Предмет</th>
					<th >Домашнее задание</th>
					<th >Оценка</th>
					<th>Посещ-ть</th>
				</tr>
                <tr align="center">
					<td>1</td>
					<td>Русский язык</td>
					<td>стр.10 №5</td>
					<td>4</td>
                    <td></td>
                </tr>
                  <tr align="center">
					<td>2</td>
					<td>Химия</td>
					<td></td>
					<td>4</td>
                </tr>
                  <tr align="center">
					<td>3</td>
					<td>Физ-ра</td>
					<td></td>
					<td>4</td>
                    <td></td>
                </tr>
                  <tr align="center">
					<td>4</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>5</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>6</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>7</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                     <tr align="center">
					<td>8</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                
                

        
            </table>
            <table table style="float:left; background-color: #ffffff; width:45%; margin-right:20px;border:2px solid green;" rules="all"
				>
                  <col width="50" align="center">
   <col width="150" valign="top">
                  <col width="300">
   <col width="50" align="center">
                <col width="50" align="center">
                  <tr >
                    
                    <th colspan="100%" align="center">Четверг</th>
                       
                    
                    </tr>
                <tr align="center">
					<th >№</th>
					<th>Предмет</th>
					<th >Домашнее задание</th>
					<th >Оценка</th>
					<th>Посещ-ть</th>
				</tr>
                <tr align="center">
					<td>1</td>
					<td>Физика</td>
					<td></td>
					<td>4</td>
                    <td></td>
                </tr>
                  <tr align="center">
					<td>2</td>
					<td>Алгебра</td>
					<td></td>
					<td>4</td>
                </tr>
                  <tr align="center">
					<td>3</td>
					<td>Литература</td>
					<td></td>
					<td>4</td>
                    <td></td>
                </tr>
                  <tr align="center">
					<td>4</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>5</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>6</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>7</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                     <tr align="center">
					<td>8</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                
                

        
            </table>
            <table table style="float:left; background-color: #ffffff; width:45%; margin-right:50px;border:2px solid green;" rules="all"
				>
                  <col width="50" align="center">
   <col width="150" valign="top">
                  <col width="300">
   <col width="50" align="center">
                <col width="50" align="center">
                  <tr >
                    
                    <th colspan="100%" align="center">Вторник</th>
                       
                    
                    </tr>
                <tr align="center">
					<th >№</th>
					<th>Предмет</th>
					<th >Домашнее задание</th>
					<th >Оценка</th>
					<th>Посещ-ть</th>
				</tr>
                <tr align="center">
					<td>1</td>
					<td>Геометрия</td>
					<td></td>
					<td>4</td>
                    <td></td>
                </tr>
                  <tr align="center">
					<td>2</td>
					<td>Физика</td>
					<td></td>
					<td>4</td>
                </tr>
                  <tr align="center">
					<td>3</td>
					<td>История</td>
					<td></td>
					<td>4</td>
                    <td></td>
                </tr>
                  <tr align="center">
					<td>4</td>
					<td>Русский язык</td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>5</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>6</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>7</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                     <tr align="center">
					<td>8</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                
                

        
            </table>
            <table table style="float:left; background-color: #ffffff; width:45%; margin-right:20px;border:2px solid green;" rules="all"
				>
                  <col width="50" align="center">
   <col width="150" valign="top">
                  <col width="300">
   <col width="50" align="center">
                <col width="50" align="center">
                  <tr >
                    
                    <th colspan="100%" align="center">Пятница</th>
                       
                    
                    </tr>
                <tr align="center">
					<th >№</th>
					<th>Предмет</th>
					<th >Домашнее задание</th>
					<th >Оценка</th>
					<th>Посещ-ть</th>
				</tr>
                <tr align="center">
					<td>1</td>
					<td>Химия</td>
					<td></td>
                    <td>4</td>
                    <td></td>
                </tr>
                  <tr align="center">
					<td>2</td>
					<td>Физика</td>
					<td></td>
					<td>4</td>
                </tr>
                  <tr align="center">
					<td>3</td>
					<td>Русский язык</td>
					<td></td>
					<td>4</td>
                    <td></td>
                </tr>
                  <tr align="center">
					<td>4</td>
					<td>Литература</td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>5</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>6</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>7</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                     <tr align="center">
					<td>8</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                
                

        
            </table>
          <!--   <table table style="float:left; background-color: #ffffff; width:45%; margin-right:20px;border:2px solid green;" rules="all"
				>
                  <col width="50" align="center">
   <col width="150" valign="top">
                  <col width="300">
   <col width="50" align="center">
                <col width="50" align="center">
                  <tr >
                    
                    <th colspan="100%" align="center">Среда</th>
                       
                    
                    </tr>
                <tr align="center">
					<th >№</th>
					<th>Предмет</th>
					<th >Домашнее задание</th>
					<th >Оценка</th>
					<th>Посещ-ть</th>
				</tr>
                <tr align="center">
					<td>1</td>
					<td></td>
					<<td></td>
					<td>4</td>
                    <td></td>
                </tr>
                  <tr align="center">
					<td>2</td>
					<td></td>
					<td></td>
					<td>4</td>
                </tr>
                  <tr align="center">
					<td>3</td>
					<td></td>
					<td>3</td>
					<td>4</td>
                    <td></td>
                </tr>
                  <tr align="center">
					<td>4</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>5</td>
					<td></td>
					<td>3</td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>6</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>7</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                     <tr align="center">
					<td>8</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                
                

        
            </table>
           <table table style="float:left; background-color: #ffffff; width:45%; margin-right:20px;border:2px solid green;" rules="all"
				>
                  <col width="50" align="center">
   <col width="150" valign="top">
                  <col width="300">
   <col width="50" align="center">
                <col width="50" align="center">
                  <tr >
                    
                    <th colspan="100%" align="center">Суббота</th>
                       
                    
                    </tr>
                <tr align="center">
					<th >№</th>
					<th>Предмет</th>
					<th >Домашнее задание</th>
					<th >Оценка</th>
					<th>Посещ-ть</th>
				</tr>
                <tr align="center">
					<td>1</td>
					<td></td>
					<td></td>
					<td>4</td>
                    <td></td>
                </tr>
                  <tr align="center">
					<td>2</td>
					<td></td>
					<td></td>
					<td>4</td>
                </tr>
                  <tr align="center">
					<td>3</td>
					<td></td>
					<td>3</td>
					<td>4</td>
                    <td></td>
                </tr>
                  <tr align="center">
					<td>4</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>5</td>
					<td></td>
					<td>3</td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>6</td>
					<td></td>
					<td>3</td>
					<td>4</td>
                      <td></td>
                </tr>
                  <tr align="center">
					<td>7</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                     <tr align="center">
					<td>8</td>
					<td></td>
					<td></td>
					<td>4</td>
                      <td></td>
                </tr>
                
                

        
            </table> -->
       
        </div>
    </div>
    </body>
