<div class="Teacher">

<div class="board">
<button id="backButton" class="btn btn-default hide">Назад</button>
<div class="buttonContainer">
    <div id="imgOtchet">
        <img src="img/otchet.png" height="150" class="otchet"/>

        <p>Отчеты</p>
    </div>
    <div id="imgRaspisanie">
        <img src="img/raspisanie.png" height="150" class="png"/>

        <p>Расписания занятий</p>
    </div>
    <div id="imgKlass">
        <img src="img/klass.png" height="150" class="png2"/>

        <p>Классный журнал</p>
    </div>
</div>
<div id="raspisanie" class="tab-pane" style="display: none">
<table class="table table-bordered table-striped table-striped" style="background-color: #ffffff">
<col width="200" align="center">
<col width="20">
<col width="20">
<col width="20">
<col width="20" align="center">
<col width="20">
<col width="20">
<col width="20">
<col width="20" align="center">
<tr>
    <th>День недели</th>
    <th colspan="7">Понедельник</th>
    <th colspan="7">Вторник</th>
    <th colspan="7">Среда</th>
    <th colspan="7">Четверг</th>
    <th colspan="7">Пятница</th>
    <th colspan="7">Суббота</th>
</tr>
<tr>
    <td>ФИО учителя</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>

</tr>
<tr>
    <td>Петрова</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>5б</td>
    <td></td>
    <td>7г</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>5в</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Иванова</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>5б</td>
    <td></td>
    <td>7г</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>5в</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Сидорова</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>5б</td>
    <td></td>
    <td>7г</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>5в</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Соболева</td>
    <td></td>
    <td></td>
    <td></td>
    <td>4а</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>6в</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

</table>
</div>
<div id="klass" class="tab-pane" style="display: none">
    <table class="table table-bordered table-striped table-striped"
           style="background-color: #ffffff">


        <tr align="center">
            <th rowspan="2">№</th>
            <th rowspan="2">ФИО</th>
            <th colspan="2">01 сентября</th>
            <th colspan="2">08 сентября</th>
            <th colspan="2">13 сенятбря</th>
            <th colspan="2">22 сентября</th>
            <th colspan="2">03 октября</th>
        </tr>
        <tr>
            <td>Оценка</td>
            <td>Посещ-ть</td>
            <td>Оценка</td>
            <td>Посещ-ть</td>
            <td>Оценка</td>
            <td>Посещ-ть</td>
            <td>Оценка</td>
            <td>Посещ-ть</td>
            <td>Оценка</td>
            <td>Посещ-ть</td>
        </tr>
        <tr align="center">
            <td>1</td>
            <td>Петров С.С.</td>
            <td>3</td>
            <td></td>
            <td>4</td>
            <td></td>
            <td>4</td>
            <td></td>
            <td>3</td>
            <td></td>
            <td>3</td>
            <td></td>

        </tr>
        <tr align="center">
            <td>2</td>
            <td>Сидоров С.С.</td>
            <td>3</td>
            <td></td>
            <td>3</td>
            <td></td>
            <td>5</td>
            <td></td>
            <td>3</td>
            <td></td>
            <td>3</td>
            <td></td>

        <tr align="center">
            <td>3</td>
            <td>Воронин С.С.</td>
            <td>4</td>
            <td></td>
            <td>3,4</td>
            <td></td>
            <td>5</td>
            <td></td>
            <td>3</td>
            <td></td>
            <td>3</td>
            <td></td>

        </tr>
        <tr align="center">
            <td>4</td>
            <td>Иванов С.С.</td>
            <td>4</td>
            <td></td>
            <td>2</td>
            <td></td>
            <td>5</td>
            <td></td>
            <td>3</td>
            <td></td>
            <td>3</td>
            <td></td>

        </tr>
        <tr align="center">
            <td>4</td>
            <td>Иванов С.С.</td>
            <td>4</td>
            <td></td>
            <td>2</td>
            <td></td>
            <td>5</td>
            <td></td>
            <td>3</td>
            <td></td>
            <td>3</td>
            <td></td>

        </tr>


    </table>
</div>
</div>
</div>