<div class="Teacher">

    <div class="board">
        <div class="buttonContainer">
            <div id="imgOtchet">
                <img src="img/otchet.png" height="150" class="otchet"/>

                <p>Отчеты</p>
            </div>
            <div id="imgRaspisanie">
                <img src="img/raspisanie.png" height="150" class="png"/>

                <p>Расписания занятий</p>
            </div>
            <div id="imgKlass">
                <img src="img/klass.png" height="150" class="png2"/>

                <p>Классный журнал</p>
            </div>
        </div>
    </div>
</div>