<div class="Teacher"></div>

<div class="board">
		<div class="tab-pane">
			<table class="table table-bordered table-striped table-striped"
				style="background-color: #ffffff">


				<tr align="center">
					<th rowspan="2">№</th>
					<th rowspan="2">ФИО</th>
					<th colspan="2">01 сентября</th>
					<th colspan="2">08 сентября</th>
					<th colspan="2">13 сенятбря</th>
					<th colspan="2">22 сентября</th>
					<th colspan="2">03 октября</th>
				</tr>
				<tr>
					<td>Оценка</td>
					<td>Посещ-ть</td>
					<td>Оценка</td>
					<td>Посещ-ть</td>
					<td>Оценка</td>
					<td>Посещ-ть</td>
					<td>Оценка</td>
					<td>Посещ-ть</td>
					<td>Оценка</td>
					<td>Посещ-ть</td>
				</tr>
				<tr align="center">
					<td>1</td>
					<td>Петров С.С.</td>
					<td>3</td>
					<td></td>
					<td>4</td>
					<td></td>
					<td>4</td>
					<td></td>
					<td>3</td>
                    </tr>
				<tr align="center">
					<td>2</td>
					<td>Сидоров С.С.</td>
					<td>3</td>
					<td></td>
					<td>3</td>
					<td></td>
					<td>5</td>
					<td></td>
					<td>3</td>
                </tr>
                <tr align="center">
					<td>3</td>
					<td>Воронин С.С.</td>
					<td>4</td>
					<td></td>
					<td>3,4</td>
					<td></td>
					<td>5</td>
					<td></td>
					<td>3</td>
                </tr>
				<tr align="center">
					<td>4</td>
					<td>Иванов С.С.</td>
					<td>4</td>
					<td></td>
					<td>2</td>
					<td></td>
					<td>5</td>
					<td></td>
					<td>3</td>
                </tr>
        </div>
</div>