<div class="Learner">

<div class="board">
<button id="backButton" class="btn btn-default hide">Назад</button>
<div class="buttonContainer">
    <div id="dnevnik">
        <img src="img/knizhka.png"/>
        <p>Электронный дневник</p>
    </div>
    <div id="reting">
        <img src="img/strelka.png"/>
        <p>Рейтинг</p>
    </div>
</div>
<div id="ball" class="tab-pane" style="display: none">
    <table class="table table-bordered table-striped table-striped" style="background-color: #ffffff">
        <thead>
        <tr>
            <th>Название предмета</th>
            <th>Средний балл</th>
            <th>Количество пропуков</th>
            <th>Минимальный средний балл</th>
            <th>Максимальный средний балл</th>
            <th>Оценка</th>
        </tr>
        </thead>
        <tr>
            <td>Русский язык</td>
            <td>3.7</td>
            <td>2</td>
            <td>2</td>
            <td>5</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Литература</td>
            <td>2.3</td>
            <td>2</td>
            <td>2</td>
            <td>5</td>
            <td>2</td>
        </tr>
        <tr>
            <td>История</td>
            <td>4.7</td>
            <td>0</td>
            <td>2</td>
            <td>5</td>
            <td>4</td>
        </tr>

    </table>
</div>
<div id="dnevnikPage" style="display: none">
<div class="tab-pane">
<table class="dnevnik" style="margin-right:20px;" rules="all">
    <col width="50" align="center">
    <col width="150" valign="top">
    <col width="300">
    <col width="50" align="center">
    <col width="50" align="center">
    <tr>
        <th colspan="100%" align="center">Понедельник</th>
    </tr>
    <tr align="center">
        <th>№</th>
        <th>Предмет</th>
        <th>Домашнее задание</th>
        <th>Оценка</th>
        <th>Посещ-ть</th>
    </tr>
    <tr align="center">
        <td>1</td>
        <td>Русский язык</td>
        <td>стр.10 №5</td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>2</td>
        <td>Химия</td>
        <td></td>
        <td>4</td>
    </tr>
    <tr align="center">
        <td>3</td>
        <td>Физ-ра</td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>4</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>5</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>6</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>7</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>8</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>


</table>
<table class="dnevnik" style="margin-right:20px;" rules="all"
        >
    <col width="50" align="center">
    <col width="150" valign="top">
    <col width="300">
    <col width="50" align="center">
    <col width="50" align="center">
    <tr>

        <th colspan="100%" align="center">Четверг</th>


    </tr>
    <tr align="center">
        <th>№</th>
        <th>Предмет</th>
        <th>Домашнее задание</th>
        <th>Оценка</th>
        <th>Посещ-ть</th>
    </tr>
    <tr align="center">
        <td>1</td>
        <td>Физика</td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>2</td>
        <td>Алгебра</td>
        <td></td>
        <td>4</td>
    </tr>
    <tr align="center">
        <td>3</td>
        <td>Литература</td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>4</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>5</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>6</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>7</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>8</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>


</table>
<table class="dnevnik" style="margin-right:20px;" rules="all"
        >
    <col width="50" align="center">
    <col width="150" valign="top">
    <col width="300">
    <col width="50" align="center">
    <col width="50" align="center">
    <tr>

        <th colspan="100%" align="center">Вторник</th>


    </tr>
    <tr align="center">
        <th>№</th>
        <th>Предмет</th>
        <th>Домашнее задание</th>
        <th>Оценка</th>
        <th>Посещ-ть</th>
    </tr>
    <tr align="center">
        <td>1</td>
        <td>Геометрия</td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>2</td>
        <td>Физика</td>
        <td></td>
        <td>4</td>
    </tr>
    <tr align="center">
        <td>3</td>
        <td>История</td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>4</td>
        <td>Русский язык</td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>5</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>6</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>7</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>8</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>


</table>
<table class="dnevnik" style="margin-right:20px;" rules="all"
        >
    <col width="50" align="center">
    <col width="150" valign="top">
    <col width="300">
    <col width="50" align="center">
    <col width="50" align="center">
    <tr>

        <th colspan="100%" align="center">Пятница</th>


    </tr>
    <tr align="center">
        <th>№</th>
        <th>Предмет</th>
        <th>Домашнее задание</th>
        <th>Оценка</th>
        <th>Посещ-ть</th>
    </tr>
    <tr align="center">
        <td>1</td>
        <td>Химия</td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>2</td>
        <td>Физика</td>
        <td></td>
        <td>4</td>
    </tr>
    <tr align="center">
        <td>3</td>
        <td>Русский язык</td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>4</td>
        <td>Литература</td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>5</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>6</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>7</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>8</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
    </tr>


</table>
<!--   <table  class="dnevnik" style="margin-right:20px;" rules="all"
      >
        <col width="50" align="center">
<col width="150" valign="top">
        <col width="300">
<col width="50" align="center">
      <col width="50" align="center">
        <tr >

          <th colspan="100%" align="center">Среда</th>


          </tr>
      <tr align="center">
          <th >№</th>
          <th>Предмет</th>
          <th >Домашнее задание</th>
          <th >Оценка</th>
          <th>Посещ-ть</th>
      </tr>
      <tr align="center">
          <td>1</td>
          <td></td>
          <<td></td>
          <td>4</td>
          <td></td>
      </tr>
        <tr align="center">
          <td>2</td>
          <td></td>
          <td></td>
          <td>4</td>
      </tr>
        <tr align="center">
          <td>3</td>
          <td></td>
          <td>3</td>
          <td>4</td>
          <td></td>
      </tr>
        <tr align="center">
          <td>4</td>
          <td></td>
          <td></td>
          <td>4</td>
            <td></td>
      </tr>
        <tr align="center">
          <td>5</td>
          <td></td>
          <td>3</td>
          <td>4</td>
            <td></td>
      </tr>
        <tr align="center">
          <td>6</td>
          <td></td>
          <td></td>
          <td>4</td>
            <td></td>
      </tr>
        <tr align="center">
          <td>7</td>
          <td></td>
          <td></td>
          <td>4</td>
            <td></td>
      </tr>
           <tr align="center">
          <td>8</td>
          <td></td>
          <td></td>
          <td>4</td>
            <td></td>
      </tr>




  </table>
 <table  class="dnevnik" style="margin-right:20px;" rules="all"
      >
        <col width="50" align="center">
<col width="150" valign="top">
        <col width="300">
<col width="50" align="center">
      <col width="50" align="center">
        <tr >

          <th colspan="100%" align="center">Суббота</th>


          </tr>
      <tr align="center">
          <th >№</th>
          <th>Предмет</th>
          <th >Домашнее задание</th>
          <th >Оценка</th>
          <th>Посещ-ть</th>
      </tr>
      <tr align="center">
          <td>1</td>
          <td></td>
          <td></td>
          <td>4</td>
          <td></td>
      </tr>
        <tr align="center">
          <td>2</td>
          <td></td>
          <td></td>
          <td>4</td>
      </tr>
        <tr align="center">
          <td>3</td>
          <td></td>
          <td>3</td>
          <td>4</td>
          <td></td>
      </tr>
        <tr align="center">
          <td>4</td>
          <td></td>
          <td></td>
          <td>4</td>
            <td></td>
      </tr>
        <tr align="center">
          <td>5</td>
          <td></td>
          <td>3</td>
          <td>4</td>
            <td></td>
      </tr>
        <tr align="center">
          <td>6</td>
          <td></td>
          <td>3</td>
          <td>4</td>
            <td></td>
      </tr>
        <tr align="center">
          <td>7</td>
          <td></td>
          <td></td>
          <td>4</td>
            <td></td>
      </tr>
           <tr align="center">
          <td>8</td>
          <td></td>
          <td></td>
          <td>4</td>
            <td></td>
      </tr>




  </table> -->
</div>
</div>
</div>
</div>
