<div class="board">
        
      <div id="ball" class="tab-pane">
            <table class="table table-bordered table-striped table-striped" style="background-color: #ffffff">
                <thead>
                <tr>
                    <th>Название предмета</th>
                    <th>Средний балл</th>
                    <th>Количество пропуков</th>
                    <th>Минимальный средний балл</th>
                    <th>Максимальный средний балл</th>
                    <th>Оценка</th>
                </tr>
                </thead>
                
                <tr>
                    <td>Русский язык</td>
                    <td>3.7</td>
                    <td>2</td>
                    <td>2</td>
                    <td>5</td>
                    <td>3</td>
                   </tr>
                 <tr>
                    <td>Литература</td>
                    <td>2.3</td>
                    <td>2</td>
                    <td>2</td>
                    <td>5</td>
                    <td>2</td>
                   </tr>
                 <tr>
                    <td>История</td>
                    <td>4.7</td>
                    <td>0</td>
                    <td>2</td>
                    <td>5</td>
                    <td>4</td>
                   </tr>
        
            </table>
        
        </div>
    </div>